[user]
	name = teatov
	email = hlebpoimenigleb@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
	credentialStore = plaintext
[init]
	defaultBranch = main
